body {
  font-family: Arial, sans-serif;
}

/* Estilos para el carrusel */
.swiper {
  width: 100%;
  height: 400px; /* Ajusta la altura según sea necesario */
}

.swiper-slide {
  display: flex; /* Flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  font-size: 18px; /* Tamaño de fuente */
  background-color: #C57600; /* Color de fondo de las slides */
  color: white; /* Color del texto */
}