@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Karla', sans-serif;
    width: 100vw;
    height: 100vh; /* Cambié a 100vh para que se ajuste al viewport */
}


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.karla-<uniquifier> {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  
  .fondo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  
  /* Fondo semitransparente */
  .cuadrado {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  /* Imagen borrosa */
  .fondo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
  }
  
  .fondo2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Contenedor del formulario */
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tu diseño */
    z-index: 1003;
    position: relative;
  }
  
  #form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 20px; /* Espacio entre los inputs */
    width: 600px; /* Ajusta el ancho total del formulario */
  }
  
  /* Estilo de los inputs y etiquetas */
  .field {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: white;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    box-sizing: border-box;
    text-indent: 10px;
    z-index: 1003;
  }
  
  /* Placeholder blanco */
  input[type="text"]::placeholder {
    color: white;
    opacity: 0.7;
  }
  
  /* Botón personalizado */
  #button {
    grid-column: span 2; /* El botón ocupa ambas columnas */
    width: 100%;
    height: 50px;
    border-radius: 100px;
    background-color: #C57600;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    z-index: 1003;
  }
  