.swiper {
    position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    width: 50%;
    height: 300px;
  }
  
  .swiper-slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
  }
 /* .preguntaf {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

label {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    top: 50px;
    left:50%;


  }*/
  .opciones {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea si es necesario */
    gap: 20px; /* Espacio entre los elementos */
    margin-top: 100px; /* Ajusta la distancia desde el top de la pantalla */
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; 
    height: 30px;
    background-color: #f0f0f0; 
    border-radius: 10px; 
    font-size: 14px;
    border: 1px solid #ccc; 
    text-align: center; 
}
